.template {
  visibility: hidden;
}

.student {
  border: 1px solid #ddd;
  height: 4rem;
  position: relative;
}

.actions {
  float: right;
}

.promote{
  background-color: green;
  border-color: white;
}